# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de sistema Mac
.DS_Store

# Archivos de configuración de VSCode
.vscode/

# Archivos de Jupyter
.ipynb_checkpoints/